@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

#NavContainer{
    width: 100vw;
    height: auto;
    position: sticky;
    z-index: 190;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border:1px solid white; */
    overflow-x: hidden;
}

#logoContainer{
    display: flex;
    gap:40px;
    height: fit-content;
    width: auto;
    align-items: center;
    justify-content: center;
}

#logoImg{
    height: 58px;
    width: 148px;
    padding:10px;
}
#Menu{
    font-family: 'Roboto Slab', serif;
    display: flex;
    gap:40px;
   
}

#Menu li{
    list-style-type: none;
}

#Menu li a{
    text-decoration: none;
    color: whitesmoke;
   
}

#userUtil{
    display: flex;
    height: fit-content;
    gap:30px;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
   
}
#user{
    cursor: pointer;
    width: 44px;
    height: 44px;
    border:0px solid rgba(84, 78, 78, 0.669);
    box-shadow:1px 1px 1px white;
    border-radius: 50%;
    margin-right: 12px;

}

#cart{
    height: 34px;
    width: 34px;
    cursor: pointer;
}

#heart{
    width: 34px;
    height: 34px;
    cursor: pointer;
}
