#RateGameContainer{
    width: 100%;
    overflow: hidden;
    z-index: 100;
    min-height: 100vh;
    background: linear-gradient(315deg, #101217 20%, #181a21 100%);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

#LeftRateGameContainer{
    /* border:1px solid white; */
    height: 400px;
    width: 350px;
}

#RateGameCover{
    border: 2px solid white;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

#RightRateGameContainer{
    font-family: 'Play';
    height: 400px;
    width: 500px;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 18px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
    z-index: 0;
    color: whitesmoke;
}

