
#Container{
    /* overflow: hidden; */
    width: 100%;
    overflow: hidden;
    z-index: 100;
    height: fit-content;
    background: linear-gradient(315deg, #101217 20%, #181a21 100%);
    /* background: linear-gradient(315deg, #173279 20%, #181a21 100%); */
    @media (max-width: 480px) {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100dvh;
      max-width: 100dvw;
    }
  }


#leftContainer{
    /* border:1px solid whitesmoke; */
    border-radius: 25px;
    position: sticky;

    /* height: 85vh; */
    width: 94%;
    margin-left: 20px;
    margin-top: 38px;
    background: rgba( 255, 255, 255, 0.15 );
    
    backdrop-filter: blur( 18px );
    
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
    z-index: 0;
    height: fit-content;
    color: whitesmoke;

    @media (max-width: 480px) {
      margin-left: 0px;
      margin-top: 8px;
    }
  }

#innerContainer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 40px;
    /* display: flex;
    height: fit-content;
    align-items: center; */
    /* border:2px solid white; */
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
}

#rightContainer{
  grid-column: 2 / span 3;
  width: fit-content;
  margin-top: 0px;
  padding:38px 30px;
  /* border:2px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  
 
}

#bannerContainer{
    width: 96%;
    height:280px;
    background: rgba( 255, 255, 255, 0.15 );
   /* border: 1px solid violet; */
   backdrop-filter: blur( 18px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 0;
    color: whitesmoke;

    @media (max-width: 480px) {
      display: none;
 
    }
    
  }
  
  #gamesContainer{
    /* width: 950px;
    height: 250px; */
    
    color: whitesmoke;
    display: grid;
    width: auto;
    overflow-y: scroll;
    height: 1550px;
    /* grid-template-rows: repeat(3,1fr); */
    grid-template-columns: repeat(3,1fr);
    column-gap: 25px;
    row-gap:20px;
    align-content: baseline;
    justify-content: center;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
     scrollbar-width: none;  /* Firefox */
    margin-top: 25px;

    @media (max-width: 480px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: fit-content;
    }
}




.game{
    width: fit-content;
    height: fit-content;
    /* margin: 10px 10px; */
    background: rgba( 255, 255, 255, 0.15 );
    /* border: 1px solid violet; */
     backdrop-filter: blur( 18px );
     
     border: 1px solid rgba( 255, 255, 255, 0.18 );
     border-radius: 1rem;
     padding: 1.5rem;
     z-index: 0;

     @media (max-width: 480px) {
      padding: 1.5rem;
    }
}

.blob1 {
    position: fixed;
    width: 300px;
    height: 200px;
    background: linear-gradient(
      180deg,
      rgba(47, 184, 255,0.42) 31.77%,
      #5c9df1 100%
    );
    mix-blend-mode: color-dodge;
    -webkit-animation: move1 25s infinite alternate;
            animation: move1 25s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
  }
  
  .blob1:hover {
    width: 320px;
    height: 220px;
    filter: blur(30px);
    box-shadow:
      inset 0 0 0 5px rgba(255,255,255, 0.6),
      inset 100px 100px 0 0px #ea70fa,
      inset 100px 200px 0 0px #784ba8,
      inset 100px 300px 0 0px #1b88d6;
  }
  
  @-webkit-keyframes move1 {
    from {
      transform: translate(-200px, -350px) rotate(-180deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: translate(900px, 500px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }
  
  @keyframes move1 {
    from {
      transform: translate(-800px, -40px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: translate(800px, 300px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }

  .blob2 {
    position: fixed;
    width: 240px;
    height: 300px;
    background: linear-gradient(
      180deg,
      rgba(213, 35, 236, 0.42) 31.77%,
      #5c9df1 100%
    );
    border-radius: 50%;
    mix-blend-mode: color-dodge;
    -webkit-animation: move 13s infinite alternate;
            animation: move 15s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
  }
  
  .blob2:hover {
    width: 320px;
    height: 220px;
    filter: blur(30px);
    box-shadow:
      inset 0 0 0 5px rgba(255,255,255, 0.6),
      inset 100px 100px 0 0px #ea70fa,
      inset 100px 200px 0 0px #784ba8,
      inset 100px 300px 0 0px #1b88d6;
  }
  
  @-webkit-keyframes move {
    from {
      transform: translate(-100px, -550px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: translate(350px, 100px) rotate(-10deg);
      border-radius: 50%;
    }
  }
  
  @keyframes move {
    from {
      transform: translate(-100px, -50px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: translate(500px, 120px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }